* {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 0px) {
	html { font-size: 10px; }

	.container {
		width: 94%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 350px) {
	html { font-size: 12px; }
	.container { width: 90%; }
}

@media only screen and (min-width: 600px) {
	html { font-size: 14px; }
	.container  { width: 80%; }
}

@media only screen and (min-width: 800px) {
	html { font-size: 14px; }
	.container  { width: 65%; }
}

@media only screen and (min-width: 1000px) {
	html { font-size: 16px; }
	.container { width: 30%; }

	main {
		width: 80%;
		padding-left: 8%;
		padding-right: 8%;
	}
}

body {
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: "Lato", sans-serif;
	line-height: 1.35;
	color: #363636;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.6rem;
	margin-bottom: 0.5rem !important;
}

h3 {
	font-size: 1.2rem;
}

p {
	font-size: 1.2rem;
	font-weight: 900;
}

a {
	text-decoration: none;
	outline: inherit;
	color: #0984e3;

	font-size: 1.5;
}

/* section.profile */

.profile {
	text-align: center;
}

.profile > * {
	margin-bottom: 1.2rem;
}

.profile > h1 {
	margin-bottom: 0.5rem;
}

.avatar {
	width: 18rem;
	border-radius: 9rem;

	margin-top: 10vh;
	margin-bottom: 2rem;
}

.links {
	margin-top: 2rem;
}

.link {
	margin-left: 1rem;
	margin-right: 1rem;

	padding: 0.5rem 1rem 0.5rem 1rem;
	color: #2d3436;

	font-size: 1.6rem;
}
